<div class="container sm-5 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Object</th>
          <th scope="col">SName</th>
          <th scope="col">Quantity</th>
          <th scope="col">CTS</th>
          <th scope="col">UTS</th>
          <th scope="col">Txn ID</th>
          <th scope="col">tby</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
