<br>
<button class="btn btn-danger" style="position: relative;left: 45%;" (click)="changeStatus()" >LogOut</button>
<div class="container sm-5 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Object</th>
          <th scope="col">SName</th>
          <th scope="col">Quantity</th>
          <th scope="col">CTS</th>
          <th scope="col">UTS</th>
          <th scope="col">Txn ID</th>
          <th scope="col">tby</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allStocks">
          <td>{{item.obj}}</td>
          <td>{{item.sname}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.cts}}</td>
          <td>{{item.uts}}</td>
          <td>{{item.txn_id}}</td>
          <td>{{item.tby}}</td>
        </tr>
      </tbody>
    </table>
</div>
